

<!DOCTYPE html>
<html lang="en">
<head>

  <style>
    

    .left-content {
<<<<<<< HEAD
      background-color: green;
      height: 600px;
=======

      background-color: #eee;
      height: 600px;
       border-style: solid;
    border-width: 1px;  

>>>>>>> rendering_posts_profile
    }

    .right-content {
      height: 600px;
      background-color: #eee;
      border-style: solid;
      border-width: 1px;  
      overflow: scroll;   
    }

    .container h1 {
       color: white;
    }

    header h1 {

      padding-top: 5px;

    }

    .container-fluid h2 {
      padding-left: 140px;

    }


    .rendered-data {
      padding-top: 350px;
      padding-left: 10px;
    } 

    .container {
      padding-bottom: 50px;
    }

  </style>

</head>

<body>

  <div class="container-fluid">
      <h2>Welcome, <small><%= @user.first_name %></small></h2>
  </div>

  <div class="container" ".col-lg">

    <div class="left-content col-md-5">


      <div class="rendered-data">

        <h3><span class="label label-default">First Name:</span>   <%=@user.first_name %></h3>
        <h3><span class="label label-default">Last Name:</span>   <%=@user.last_name %></h3>
        <h3><span class="label label-default">Current City:</span>   <%=@user.current_city %></h3>
        <h3><span class="label label-default">Email:</span>   <%=@user.email %></h3>
        
      </div>

    </div>

    <div class="right-content col-md-6 col-md-offset-1" >

      <div class="page-header">

        <h2><small>Your posts</small></h2>

      </div>

    </div>

  </div>


</body>
</html>